.wrapper{
    border: 1px dashed;
    display:flex;
    flex-direction:row;
}


.wrapper div{
    border: 1px solid;
    margin: 10px;
    width: 200px;
    height: 600px;
    text-align: center;
    background-color:rgb(211, 211, 211);

}