.wrapper{
    border: 1px dashed;
    display:flex;
    flex-direction:column;
    margin:20px;

}

.wrapper div{
    border: 1px solid;
    margin:10px;
    width: 1800px;
    height: 100px;
    text-align:center;
    background-color: rgb(211, 211, 211);

}